<html>
    {% load static %}
    <head>
		<title>コメント一覧</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'comment.png' %}" />
	</head>
    <body style="background:#d5eee6;color:#336699">
            <div style="text-align:center">
                <h1 style="font-size:x-large;color:#9933ff">
                    CommentPage
                </h1>
            <nav>
                {% for single_comment in multiple_comment %}
                    <ul style="list-style-type: none;">
                        <li>{{single_comment.comment}}</li>
                    </ul>
                {% endfor %}
            </nav>
    </body>
</html>