body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: rgb(32, 32, 33);
  color: rgb(204, 198, 198);
}

a {
  font-weight: 500;
  color: #2f82ff;
  text-decoration: inherit;
}

a:hover {
  color: hsl(200, 95%, 76%);
}

.nav-bar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
