body {
  background-color: rgb(14, 14, 19);
  color: rgb(177, 176, 221);
  /* background-color: white;
  color: black; */
}

a {
  font-weight: 500;
  color: #2578f6;
  text-decoration: inherit;
  /* color: rgb(155, 183, 249); */
}

/* a:hover {
  color: hsl(200, 95%, 76%);
} */

a:hover{
  color:hsl(57, 33%, 56%);
  border-bottom:2px solid hsl(57, 33%, 56%);
  /* color:hsl(196, 100%, 83%);
  border-bottom:2px solid hsl(196, 100%, 83%); */
}

.menu {
  /* background-color: rgb(220, 255, 255); */
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,124,255,1) 100%); */
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,79,163,1) 100%); */
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(0, 36, 83) 100%);
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(14, 0, 79) 100%); */
  /* background: rgb(2,2,2);
  background: radial-gradient(circle, rgba(2,2,2,1) 0%, rgba(0,9,106,1) 100%); */
  display: flex;
  list-style: none;
  box-shadow: 0px 0px 60px 10px #070187;
  border-radius: 15px;
  /* padding: 0.3rem; */
  margin: auto;
}

.menu li {
  text-align: center;
  padding: 1rem 1rem 1.8rem 1rem;
  flex: 1;
}

.whole-screen {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .top-screen li {
  list-style: url('/media/frontend/index_pointing_right.svg');
  display: flex;
  justify-content: center;
}  */

.list-row {
  display: flex;
  justify-content: center;
}

.art-frame {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  /* grid-template-columns: 10rem 20rem;
  grid-template-rows: 10rem 3rem 10rem; */
}

.header-area {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  margin: 1.5rem 1.0rem 1.0rem 1.0rem;
}

.home-art-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 1rem;
}

.home-art-area img {
  max-width: 100%;
  /* max-height: 50rem; */
  object-fit: scale-down;
}

.gallery-art-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 1rem;
}

.gallery-art-area img {
  max-width: 100%;
  object-fit: scale-down;
}

.sidebar-area {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 1.0rem 1.0rem 1.0rem 0rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  /* border-left: 2px solid rgb(34, 53, 115); */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(0, 36, 83) 100%);
  box-shadow: 0px 0px 60px 3px #070187;
  border-radius: 15px;
}

.footer-area {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  text-align: center;
  margin: 1.0rem;
}

/* .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
} */
