body {
  background-color: rgb(14, 14, 19);
  color: rgb(177, 176, 221);
  /* background-color: white;
  color: black; */
}

a {
  font-weight: 500;
  color: #2578f6;
  text-decoration: inherit;
  /* color: rgb(155, 183, 249); */
}

/* a:hover {
  color: hsl(200, 95%, 76%);
} */

a:hover{
  color:hsl(57, 33%, 56%);
  border-bottom:2px solid hsl(57, 33%, 56%);
  /* color:hsl(196, 100%, 83%);
  border-bottom:2px solid hsl(196, 100%, 83%); */
}

.menu {
  /* background-color: rgb(220, 255, 255); */
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,124,255,1) 100%); */
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,79,163,1) 100%); */
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(0, 36, 83) 100%);
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(14, 0, 79) 100%); */
  /* background: rgb(2,2,2);
  background: radial-gradient(circle, rgba(2,2,2,1) 0%, rgba(0,9,106,1) 100%); */
  display: flex;
  list-style: none;
  box-shadow: 0px 0px 60px 10px #070187;
  border-radius: 15px;
  /* padding: 0.3rem; */
}

.menu li {
  text-align: center;
  padding: 1rem;
  flex: 1;
}

.whole-screen {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* .top-screen li {
  list-style: url('/media/frontend/index_pointing_right.svg');
  display: flex;
  justify-content: center;
}  */

.list-row {
  display: flex;
  justify-content: center;
}

.art-frame {
  display: flex;
  justify-content: center;
}